* {
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}

header{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
}

main{
    padding: 30px 50px;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.container-topo{
    margin-bottom: 30px;
}

.container-incluir-produto{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.container-flex{
    display: flex;
    margin-bottom: 30px;
}

.container-inputs{
    margin-right: 10px
}

input{
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #ccc;
    outline: #ccc;
}

button{
    padding: 15px;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: all ease .3s;
}

button:hover{
    background-color: rgb(115, 28, 197);
}

